<h1>Chat</h1>

<%= content_for :demo_title, "Allows current site visitors to chat with each other" %>
<%= content_for :demo_summary do %>
<% end %>
<%= render_demo :chat %>

<%= render_gists(
  "app/views/demos/showcase/chat/_demo.html.erb",
  "app/views/demos/showcase/chat/_color.html.erb",
  "app/javascript/controllers/chat_controller.js",
  "app/javascript/channels/chat_channel.js",
  "app/controllers/concerns/chat_demo.rb",
  "app/reflexes/chat_reflex.rb"
) %>
