<input id="data-entry" type="text" data-reflex="keyup->ReverseTextReflex#perform"
  placeholder="Type something..." class="form-control form-control-lg d-inline-block col-4">
<span id="reversed-text" class="ml-3"></span>
