<input type="text" placeholder="Type something..." class="form-control d-inline-block col-4"
  data-reflex="keyup->ReverseTextReflex#perform" data-reflex-permanent>

<span class="ml-3"><%= @value %></span>
