<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center md:order-2">
      <p class="text-gray-500">Session ID: <%= session.id %></p>
    </div>
    <div class="mt-8 md:mt-0 md:order-1">
      <p class="text-center text-base leading-6 text-gray-400">
        &copy; 2019-2020 Nathan Hopkins, All Rights Reserved
      </p>
    </div>
  </div>
</div>
