<input id="email" type="text" placeholder="Enter an email address..."
  class="form-control form-control-lg d-inline-block col-4"
  data-reflex="input->GravatarReflex#perform">

<span class="ml-3"><%= image_tag @gravatar_image_url || "" %></span>
