<%= render(CardComponent.new(gists: [
  "app/views/gravatars/_demo.html.erb",
  "app/reflexes/gravatar_reflex.rb"
  ])) do |component| %>
  <%= component.with(:title) { "Gravatar" } %>
  <%= component.with(:subtitle) { "Displays Gravatar image for any email address" } %>
  <% component.with(:body) do %>
    <p class="text-base mb-4">
      <strong class="block">No custom JavaScript was written for this demo.</strong>
      It uses the <code>data-reflex</code> attribute to produce the behavior.
    </p>
    <%= render "/gravatars/demo" %>
  <% end %>
<% end %>
