<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= title content_for :demo_title %></h3>
    <p class="card-subtitle"><%= content_for :demo_summary %></p>
  </div>
  <div class="card-body"><%= yield %></div>
</div>
