<div class="card bg-light border-primary mt-4 shadow">
  <div class="card-header border-primary bg-primary-light">
    <%= image_tag "stimulus-reflex-logo.svg", style: "height:24px" %>
    Stimulus<strong>Reflex</strong> <span class="text-muted">Demo</span>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= content_for :demo_title %></h5>
    <%= content_for :demo_summary %>
    <%= yield %>
  </div>
</div>
