<div class="card bg-light border-primary mt-2 shadow rounded-0">
  <div class="card-header border-primary border-bottom bg-primary-lighter bg-demo-header rounded-0">
    <div class="row">
      <div class="col-8">
        <h3 class="card-title"><%= content_for :demo_title %></h3>
        <%= content_for :demo_summary %>
      </div>
    </div>
  </div>
  <div class="card-body p-4"><%= yield %></div>
</div>
