<h1>
  <%= image_pack_tag "stimulus-reflex-logo.svg", style: "height:60px" %>
  Stimulus<strong>Reflex</strong>
  <span class="text-muted">Expo</span>
</h1>

<p class="lead">
StimulusReflex is an exciting new way to build reactive, modern real-time apps. It eliminates the hassle of maintaining state on the client. It's a new way of thinking... and it works with technologies that Rails developers already use, like server rendered HTML, Russian Doll caching, Stimulus and Turbolinks.
</p>

<p>
The demos on this site are an attempt to teach others how to build reactive applications with StimulusReflex.
</p>
