<%= content_for :demo_title, "Time Travel" %>
<%= render_demo "/time_travels/demo" %>

<%= render_explanation do %>
  <p></p>
<% end %>

<%= render_gists(
  "app/javascript/controllers/time_travels_controller.js",
  "app/views/time_travels/_demo.html.erb",
  "app/views/time_travels/_filters.html.erb",
  "app/views/time_travels/_mission.html.erb",
  "app/controllers/time_travels_controller.rb",
  "app/helpers/time_travels_helper.rb",
  "app/models/mission.rb",
  "app/reflexes/missions_reflex.rb"
) %>
