<div class="form-row mb-4">
  <div class="col-6">
    <input type="text" placeholder="Search..." class="form-control form-control-lg" data-reflex="debounced:input->TabularReflex#search">
  </div>
</div>

<%= render partial: "tabulars/search_results" %>
