$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

$primary: #44449b;
$success: #4fcb4a;
$info: #1181b2;
@import 'bootstrap/scss/bootstrap';

@import 'pygments-rouge-css/github';
@import '../stylesheets/utilities';
@import '../stylesheets/theme';
@import '../stylesheets/snake';
@import '../stylesheets/validation';
@import '../stylesheets/todo';
