<footer class="footer fixed-bottom border-top p-3 bg-light">
  <div class="d-flex justify-content-between text-muted">
    <small>&copy; 2019 Nathan Hopkins, All Rights Reserved</small>
    <small class="opacity-50">Session ID: <%= session.id %></small>
  </div>
</footer>
