<footer class="footer fixed-bottom p-3 bg-primary-dark">
  <div class="d-flex justify-content-between text-light opacity-50">
    <small>&copy; 2019 Nathan Hopkins, All Rights Reserved</small>
    <small><a href="https://github.com/hopsoft/stimulus_reflex_expo" target="_blank" class="text-light"><i class="fab fa-github"></i> Fork this Project</a></small>
    <small class="opacity-70">Session ID: <%= session.id %></small>
  </div>
</footer>
