<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <%= image_tag "stimulus-reflex-logo-with-copy-white.svg", class: "inline-block align-middle", style: "height:40px" %>
  </a>
    <span class="navbar-text">
    Demos to get you started.
  </span>
</nav>
