<header class="header">
  <nav class="navbar navbar-expand-md navbar-dark bg-navbar fixed-top">
    <a class="navbar-brand" href=<%= root_path %>>
      <%= image_pack_tag "stimulus-reflex-logo-with-copy-white.svg", class: "inline-block align-middle opacity-90", style: "height:40px" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://docs.stimulusreflex.com" target="_blank"><i class="fas fa-book-open"></i> Documentation</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
