<a href="" class="block pt-4 pb-4 whitespace-no-wrap"><i class="fa-fw fas fa-check opacity-25"></i> Reverse Text</a>
<a href="" class="block pb-4 whitespace-no-wrap"><i class="fa-fw fas fa-check opacity-25"></i> Auto Complete</a>
<a href="" class="block pb-4 whitespace-no-wrap"><i class="fa-fw fas fa-check opacity-25"></i> Live Search</a>
