$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import 'highlight.js/styles/atom-one-light';
@import 'bootstrap/scss/bootstrap';
@import 'utilities';
@import 'theme';
@import 'snake';

html, body {
  height: 100%;
}
