html, body {
  height: 100%;
}

pre {
  margin: 0;
  padding: 0;
}

.nav {
  a.nav-link {
    color: theme-color("muted");
  }
}

.highlight {
  border: $border-width solid $border-color;
  border-radius: 0.25rem;
  background-color: theme-color("light");
  padding: 10px;
  margin-left: 12px;
  margin-bottom: 30px;
}
