<input class="form-control d-inline-block col-4" type="text" placeholder="Type something..."
  data-controller="application" data-reflex="keyup->ReverseTextReflex#perform" data-reflex-root="#output">
<span id="output" class="ml-3"><%= @value %></span>
