<button type="button" class="btn-small btn-primary">
  <%= filter_value %>
  <span class="badge badge-light" data-reflex="click->RouteInfo#clear_filter" data-filter-key=<%= filter_key %>>
    X
  </span>
</button>
