<select class="form-control" id=<%= "#{filter_name}-select" %> 
        data-reflex="change->RouteInfo#filter"
        data-filter-key= <%= filter_name %> 
  
  <% choices.each do |choice| %>
    <option><%= choice %></option>
  <% end %>
</select>
